<a href="https://colab.research.google.com/github/Noha-Magdy/AI-model-for-predicting-covid-19/blob/master/ML/COVID_19_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import requests
from sklearn.model_selection import train_test_split, RandomizedSearchCV,cross_val_score 
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error

%matplotlib inline

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
downloaded = drive.CreateFile({'id':'14cvmX6FZGaL6RopzXETmg7Nw8nRM3HV5'}) 
downloaded.GetContentFile('Filename.csv')

In [ ]:
df_world= pd.read_csv('Filename.csv')
print(df_world.columns)

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '4/21/20', '4/22/20', '4/23/20', '4/24/20', '4/25/20', '4/26/20',
       '4/27/20', '4/28/20', '4/29/20', '4/30/20'],
      dtype='object', length=104)

In [ ]:
df_world.describe()

              Lat        Long  ...       4/29/20       4/30/20
count  266.000000  266.000000  ...  2.660000e+02  2.660000e+02
mean    21.259359   22.432499  ...  1.191693e+04  1.224378e+04
std     24.747943   70.478908  ...  6.918917e+04  7.102980e+04
min    -51.796300 -135.000000  ...  0.000000e+00  0.000000e+00
25%      6.907750  -18.093125  ...  7.600000e+01  7.725000e+01
50%     23.488100   20.921188  ...  4.555000e+02  4.665000e+02
75%     41.143200   77.191525  ...  2.047250e+03  2.105250e+03
max     71.706900  178.065000  ...  1.039909e+06  1.069424e+06

[8 rows x 102 columns]

Getting Egypt Timeline Data from Coronvirus Tracker API

In [ ]:
# Change "EG" at the end of the url to get data for a diffirent country
url = 'https://api.thevirustracker.com/free-api?countryTimeline=EG'
x = requests.get(url)
x = x.json()
out_file = open("egy_data.json", "w")
json.dump(x, out_file, indent=6)

out_file.close()
print(x)

JSONDecodeError: ignored

In [ ]:
downloaded = drive.CreateFile({'id':'1ValoL1bD3E1zDTMtL0VI08IOeCggVE6j'}) 
downloaded.GetContentFile('egy_data.json')  

with open("egy_data.json") as jsonfile:
    data = json.load(jsonfile)['timelineitems'][0]

In [ ]:
df_egypt = pd.DataFrame(data)
df_egypt

                  2/14/20  2/15/20  2/16/20  ...  7/13/20  7/14/20  stat
new_daily_cases         1        0        0  ...      931      929    ok
new_daily_deaths        0        0        0  ...       77       73    ok
total_cases             1        1        1  ...    83001    83930    ok
total_recoveries        0        0        0  ...    21718    21718    ok
total_deaths            0        0        0  ...     3935     4008    ok

[5 rows x 153 columns]

In [ ]:
df_egypt.describe()

        2/14/20   2/15/20   2/16/20  ...       7/12/20       7/13/20       7/14/20
count  5.000000  5.000000  5.000000  ...      5.000000      5.000000      5.000000
mean   0.400000  0.200000  0.200000  ...  21729.400000  21932.400000  22131.600000
std    0.547723  0.447214  0.447214  ...  34864.186966  35256.359679  35650.421685
min    0.000000  0.000000  0.000000  ...     89.000000     77.000000     73.000000
25%    0.000000  0.000000  0.000000  ...    912.000000    931.000000    929.000000
50%    0.000000  0.000000  0.000000  ...   3858.000000   3935.000000   4008.000000
75%    1.000000  0.000000  0.000000  ...  21718.000000  21718.000000  21718.000000
max    1.000000  1.000000  1.000000  ...  82070.000000  83001.000000  83930.000000

[8 rows x 152 columns]

In [ ]:
# Delete row at index position 0 & 1
modDf = df_egypt.drop([df_egypt.index[0] , df_egypt.index[1], df_egypt.index[3],df_egypt.index[4]])

In [ ]:
modDf.head()

             2/14/20  2/15/20  2/16/20  ...  7/13/20  7/14/20  stat
total_cases        1        1        1  ...    83001    83930    ok

[1 rows x 153 columns]

Dates since the outbreak

In [ ]:
dates=df_egypt.keys()
dates= np.array([i for i in range(len(dates))]).reshape(-1, 1)
daily_new =df_egypt.loc['new_daily_cases']
daily_death=df_egypt.loc['new_daily_deaths']

Calculating Mortality and Death rates

In [ ]:
df_egypt.info()
df_egypt1= df_egypt.drop(['stat'])

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, new_daily_cases to total_deaths
Columns: 153 entries, 2/14/20 to stat
dtypes: int64(152), object(1)
memory usage: 6.2+ KB

KeyError: ignored

Forecasting 7 days in the future

In [ ]:
days_in_future = 10
future_forcast = np.array([i for i in range(len(dates)+days_in_future)]).reshape(-1, 1)
adjusted_dates = future_forcast[:-10]

Data fitting

In [ ]:
X_train_confirmed, X_test_confirmed, y_train_confirmed, y_test_confirmed = train_test_split(dates[0:], daily_new[0:], test_size=0.12, shuffle=False)

SVM Model

In [ ]:
c= [0.01, 0.1, 1]
gamma = [0.01, 0.1, 1]
epsilon = [0.01, 0.1, 1]
shrinking = [True, False]
degree = [3, 4, 5]

svm_grid = {'C': c, 'gamma' : gamma, 'epsilon': epsilon, 'shrinking' : shrinking, 'degree': degree}
svm = SVR(kernel='poly')
svm_search = RandomizedSearchCV(svm, svm_grid, scoring='neg_mean_squared_error', cv=3, return_train_score=True, n_jobs=-1, n_iter=30, verbose=1)
svm_search.fit(X_train_confirmed, y_train_confirmed)
svm_search.best_params_

Fitting 3 folds for each of 30 candidates, totalling 90 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-23-3131a9327511>", line 10, in <module>
    svm_search.fit(X_train_confirmed, y_train_confirmed)
  File "/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py", line 710, in fit
    self._run_search(evaluate_candidates)
  File "/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py", line 1484, in _run_search
    random_state=self.random_state))
  File "/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py", line 689, in evaluate_candidates
    cv.split(X, y, groups)))
  File "/usr/local/lib/python3.6/dist-packages/joblib/parallel.py", line 1042, in __call__
    self.retrieve()
  File "/usr/local/lib/python3.6/dist-packages/joblib/parallel.py", line 921, in retrieve
    self._output.extend(job.get(timeout=self.timeout))
  File "/usr/local/lib/python3.6/dist-packages/joblib/_parallel_backends.py", line 542, in wrap_future_result
    return future.result(timeout=timeout)
  File "/usr/lib/python3.6/concurrent/futures/_base.py", line 427, in result
    self._condition.wait(timeout)
  File "/usr/lib/python3.6/threading.py", line 295, in wait
    waiter.acquire()
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.6/inspect.py", line 1490, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.6/inspect.py", line 1448, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.6/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.6/inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
KeyboardInterrupt

KeyboardInterrupt: ignored

In [ ]:
svm_confirmed = SVR(shrinking=True, kernel='poly',gamma=0.01, epsilon=1,degree=3, C=0.1)
svm_confirmed.fit(X_train_confirmed, y_train_confirmed)
svm_pred = svm_confirmed.predict(future_forcast)
svm_test_pred = svm_confirmed.predict(X_test_confirmed)
print('MAE:', mean_absolute_error(svm_test_pred, y_test_confirmed))
print('MSE:',mean_squared_error(svm_test_pred, y_test_confirmed))

ValueError: ignored

In [ ]:
poly = PolynomialFeatures(degree=5)
poly_X_train_confirmed = poly.fit_transform(X_train_confirmed)
poly_X_test_confirmed = poly.fit_transform(X_test_confirmed)
poly_future_forcast = poly.fit_transform(future_forcast)
linear_model = LinearRegression(normalize=True, fit_intercept=False,)
linear_model.fit(poly_X_train_confirmed, y_train_confirmed)
training_score = cross_val_score(linear_model, poly_X_train_confirmed, y_train_confirmed, cv=5)
test_linear_pred = linear_model.predict(poly_X_test_confirmed)
linear_pred = linear_model.predict(poly_future_forcast)

-2491.65